/* Conteudo.css */

.conteudo {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: 'Arial', sans-serif;
  }
  
  .h1 {
    color: #006b2d;
  }
  
  .descricao-restaurante {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  .descricao-restaurante p {
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .descricao-restaurante p:last-child {
    margin-bottom: 0;
  }
  